$background-dark:            #002b36;
$background-highdark-dark:  #003a44;
$comment-dark:               #79929A;
$main-dark:                  #919EA1;
$emphasis-dark:              #A1ACAF;
$yellow-dark:                #b38600;
$orange-dark:                #ea632a;
$red-dark:                   #ff4a47;
$magenta-dark:               #fa429b;
$violet-dark:                #8185df;
$blue-dark:                  #2e93dc;
$cyan-dark:                  #2a9d94;
$green-dark:                 #829603;