$background-light:           #fdf6e3;
$background-highlight-light: #eee8d5;
$comment-light:              #617575;
$main-light:                 #4F5F5F;
$emphasis-light:             #445050;
$yellow-light:               #8E6C06;
$orange-light:               #C64710;
$red-light:                  #DA2825;
$magenta-light:              #C9367D;
$violet-light:               #6266CB;
$blue-light:                 #2976AE;
$cyan-light:                 #207E77;
$green-light:                #697807;