$background-dark:           #fdf6e3;
$background-highlight-dark: #eee8d5;
$comment-dark:              #617575;
$main-dark:                 #4F5F5F;
$emphasis-dark:             #445050;
$yellow-dark:               #8E6C06;
$orange-dark:               #C64710;
$red-dark:                  #DA2825;
$magenta-dark:              #C9367D;
$violet-dark:               #6266CB;
$blue-dark:                 #2976AE;
$cyan-dark:                 #207E77;
$green-dark:                #697807;