$background-light:            #002b36;
$background-highlight-light:  #003a44;
$comment-light:               #79929A;
$main-light:                  #919EA1;
$emphasis-light:              #A1ACAF;
$yellow-light:                #b38600;
$orange-light:                #ea632a;
$red-light:                   #ff4a47;
$magenta-light:               #fa429b;
$violet-light:                #8185df;
$blue-light:                  #2e93dc;
$cyan-light:                  #2a9d94;
$green-light:                 #829603;